# ==================== CREDENTIALS ====================
# Steam API
STEAM_API_KEY=your_steam_api_key_here

# PostgreSQL (Gold Layer - matches docker-compose postgres_general)
DB_URL=jdbc:postgresql://postgres_general:5432/sessiondb
DB_USER=admin
DB_PASS=admin

# pgAdmin Default Credentials
PGADMIN_EMAIL=admin@admin.com
PGADMIN_PASS=admin

# ==================== AIRFLOW SECRETS ====================
AIRFLOW_FERNET_KEY=3DjyQsK6JdTq4zsiK4XHzVmVEMtRzF7jwq9VDuHQx3M=
AIRFLOW_SECRET_KEY=mysecretkey
AIRFLOW_DB_USER=airflow
AIRFLOW_DB_PASS=airflow

# ==================== PIPELINE CONFIG ====================
# How many games to fetch per run
BATCH_SIZE=1500
# How many hours before a game is considered stale and needs refreshing
STALE_HOURS=24
